form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
}

.basket_shop {
    float: right;
}

.href_style {
    color: gray;
    font-style: italic;
}

.href_style:hover {
    color: red;
    font-style: italic;
    text-decoration: none;
}

.name_shop {
    color: black;
}

.name_shop:hover {
    color: black;
    text-decoration: none;
}

.page_site {
    color: #343a40;
}

.page_site:hover {
    color: white;
    background: black;
}

.link_page_site {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.link_page_site a {
    color: white;
    font-size: 25px;
    font-weight: 600;
    transition: 300ms ease;
}

.link_page_site a:hover {
    transition: 300ms ease;
    color: red;
    text-decoration: none;
}

.page_block_img {
    height: 180px;
    overflow: hidden;
}

.m-b-t {
    margin: 20px 0 20px 0;
}

.footer {
    height: 50px;
    background: #343a40;
    color: white;
}

.copyrate {
    padding: 15px 0 0 15px;
    font-size: 12px;
}




@media (min-width: 992px) {
    .carousel_height {
        overflow: hidden;
        height: 600px;
    }

    .card-img-top {
        height: 300px;        
    }

    .card-img-slider{
        height: 350px;
    }

    .card-img-cart{
        height: 300px;
        width: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel_height {
        overflow: hidden;
        height: 350px;
    }

    .card-img-top {
        height: 250px;
    }

    .card-img-slider{
        height: 350px;
    }

    .card-img-cart{
        height: 250px;
        width: 150px;
    }
}


@media (max-width: 767px) {
    .carousel_height {
        overflow: hidden;
        height: 150px;
    }

    .card-img-top {
        height: 200px;
    }

    .card-img-cart{
        height: 300px;
        width: 100%;
    }
}
